li(gallery-item=image.name)
  figure
    img(src="/assets/gallery/" + image.name, alt=image.endroit, title=image.endroit, width=image.width, height=image.height, ng-show = 'true')
    div(ng_show = 'false' style='min-width:' + image.width + 'px; min-height:' + image.height + 'px;')
    figcaption #{image.endroit}
