li(gallery-item=image.name)
  figure(ng-show = 'showImage == "' + image.name + '"')
    img(src="/assets/gallery/" + image.name, alt=image.endroit, title=image.endroit, width=image.width, height=image.height)
    figcaption #{image.endroit}
  div(ng-hide = 'showImage == "' + image.name + '"')
    | Hello from #{image.endroit}&gt;{{showImage}}&lt;