li(gallery-item=image.name)
  figure(ng-show = 'true')
    img(src="/assets/gallery/" + image.name, alt=image.endroit, title=image.endroit, width=image.width, height=image.height)
    figcaption #{image.endroit}
  div(ng_show = 'false')
    | Hello from #{image.endroit}
